* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; 
}

#content {
    padding: 10px;
    overflow: auto;
    flex: 1;
}



.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9; 
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000; 
    
}



.button-container form {
    margin: 0; 
}

.button-container button {
    background-color: #f9f9f9;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.button-container button:active {
    transform: scale(0.98); 
}
.button-container button img {
    width: 40px;
    height: 40px;
}
.back-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9; 
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    z-index: 1000; 
}

.back-container form {
    margin: 0; 
}

.back-container button {
    background-color: transparent; 
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
}

.back-container button img {
    width: 40px;
    height: 40px;
}

.back-container button:active {
    transform: scale(0.98); 
}

